.services {
    padding: 20px;
    margin: 10px;
}

.services_content {
    display: flex;
    flex-direction: column;
}

.services_content h3, .services h3 {
    color: white;
}

.services_content img {
    width: 50%;
}

.services_container {
    display: flex;
    flex-direction: column;
}