.App {
  text-align: left;
  background: white;
  padding: 10px 10px 10px 10px;
  width: 100% !important;
  top: 0 !important;
  right: 0 !important;   
  position: sticky !important;
  text-decoration: none !important;
}

body {
  background: black;
  color: white;
}